* {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
}

#gameBoard {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
}

.gameBoardRow {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.gameBoarditem {
  text-align: center;
  border: 1px solid red;

  height: 175px;
  width: 175px;
}
